LoadModule auth_jwt_module /usr/lib64/httpd/modules/mod_authnz_jwt.so

AuthJWTSignatureAlgorithm HS256
AuthJWTSignatureSharedSecret {{ jwt_shared_secret | b64encode }}
AuthJWTIss griddynamics.net
AuthJWTExpDelay "{{ jwt_token_days * 24 * 3600 }}"

<Location /login>
  SetHandler jwt-login-handler
  AuthJWTProvider file
  AuthUserFile "{{ httpd_passwd_file }}"
</Location>

<Directory {{ httpd_protected_dir }}/>
  AllowOverride None
  AuthType jwt
  AuthName "protected area"
  Require valid-user
</Directory>