sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
  username="{{ kafka_client_user }}" \
  password="{{ kafka_client_pass }}";
sasl.mechanism=PLAIN
security.protocol=SASL_PLAINTEXT
