KafkaServer {
   com.sun.security.auth.module.Krb5LoginModule required
   keyTab="{{ kafka_conf_dir }}/kafka.keytab"
   principal="kafka/localhost@{{ kerberos_realm.upper() }}"
   storeKey=true
   useKeyTab=true;
};
