KafkaServer {
   org.apache.kafka.common.security.plain.PlainLoginModule required
   username="{{ kafka_admin_user }}"
   password="{{ kafka_admin_pass }}"
   user_{{ kafka_admin_user }}="{{ kafka_admin_pass }}"
   user_{{ kafka_client_user }}="{{ kafka_client_pass }}";
};
